#app {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__polydea {
  border-color: $purple!important;
  color: $purple!important;
  transition: all .5s ease;
  &:hover {
    background-color: $purple!important;
    color: #FFF!important;
  }
}