#app {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
.button__polydea {
  border-color: $purple!important;
  color: $purple!important;
  transition: all .5s ease;
  &:hover {
    background-color: $purple!important;
    color: #FFF!important;
  }
}
.hero-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 1192px) {
  .hero-body {
    padding-left: 0;
    padding-right: 0;
  }
}