.login {
  .login__left {
    .hero {
      background: url('https://unsplash.it/2000/3000/?random');
      background-position: center;
      background-size: cover;
      background-blend-mode: screen;
      .container {
        margin-top: -100px;
        background-color: transparent;
      }
      .title {
        display: inline-block;
        background-color: rgba(0,0,0, 0.6);
        padding: 5px;
      }
    }
  }
  .login__right {
    .hero {
      .hero-heading {
        .section {
          min-height: 250px;
          img {
            transition: .5s all ease;
            cursor: pointer;
            &:hover {
              width: 165px;
            }
          }
        }
      }
      .hero-body {
        .container {
          margin-top: -100px;
          .login-form {
            .control:not(:last-child) {
              margin-bottom: .75rem;
            }
            .control {
              position: relative;
              text-align: left;
              input {
                &:focus {
                  border-color: $purple!important;
                }
              }
            }
            .login__button {
              padding-top: 20px;
            }
            .login__button button {
              border-radius: 40px;
              font-weight: bold;
            }
            .email-input, .password-input {
              border-radius: 40px;
              font-size: 20px;
              padding-left: 15px;
              color: #95A5A6;
            }
            .icon.user, .icon.password {
              margin: 5px 10px 0 0;
            }
          }
          .forgot-password a {
            color: #95A5A6;
            font-weight: bold;
            padding-right: 20px;
          }
        }
      }
    }
  }
}